<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Writer's Block</title>
</head>
<body>
    <header>
        <video muted loop autoplay>
            <source src="https://i.imgur.com/kZh839k.mp4" type="video/mp4">
        </video>
        <h1>Writer's Block</h1>
        <nav>
            <a href="/authors">Authors</a>
            <a href="/articles">Articles</a>
            <a href="/articles/new">Create a new article</a>
        </nav>
    </header>
</body>
</html>