<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Express Blog</title>
</head>
<body>
    <header>
		<h1>Edit <%= article.title %>'s Info</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/articles">Articles Index</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Article Attributes:</h2>
		<form action="/articles/<%= article._id %>?_method=PUT" method="POST">
			<input type="text" name="title" value="<%= article.title %>" /><br />
			<textarea name="body"><%= article.body %></textarea><br />
			<input type="submit" value="Update Article" />
		</form>
	</main>
</body>
</html>