<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/articles-index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Articles</title>
</head>
<body>
    <header>
        <video muted loop autoplay>
            <source src="https://i.imgur.com/kZh839k.mp4" type="video/mp4">
        </video>
        <h1>Writer's Block</h1>
        <nav>
            <a href="/" class="navlink">Home</a>
            <a href="/articles/new" class="navlink">Post a new article</a>
        </nav>
    </header>
    <main class="container">
        <h4>Featured Articles</h4>
        <ul>
            <% for(let i = 0; i < articles.length; i++){ %>
            <li>
                <a href="/articles/<%=articles[i]._id%>" class="article"><%= articles[i].title %></a>
            </li>
            <% } %>
        </ul>
    </main>
    

</body>
</html>