<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/skeleton.css">
		<link rel="stylesheet" href="/articles-new.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Publish an article</title>
</head>
<body>
    <header>
		<video muted loop autoplay>
            <source src="https://i.imgur.com/kZh839k.mp4" type="video/mp4">
        </video>
		<h1>Writer's Block</h1>
		<nav>
			<a href="/" class="navlink">Home</a>
			<a href="/articles" class="navlink">Articles</a>
		</nav>
	</header>
	<main>
		<h4>Publish an article</h4>
		<form action="/articles" method="POST">
			<input type="text" name="title" placeholder="Title"/><br />
            <input type="text" name="author" placeholder="Author"/><br />
			<textarea name="body" placeholder="Body"></textarea><br />
			<input type="submit" value="Publish Article" />
		</form>
	</main>
</body>
</html>